@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>FoobarService</h2>
        <div class="col-md-3">
            <h3>Build <span>18645</span></h3>
            <div class="col-md-1">
                <p>Build</p>
            </div>
            <div class="col-md-1">
                <p>Test</p>
            </div>
        </div>
        <div class="col-md-3">
            <h3>CI</h3>
            <div class="col-md-1">
                <p>Deploy</p>
            </div>
        </div>
        <div class="col-md-3">
            <h3>PreProd</h3>
            <div class="col-md-1">
                <p>Authorise</p>
            </div>
            <div class="col-md-1">
                <p>Deploy</p>
            </div>
        </div>
        <div class="col-md-3">
            <h3>Prod</h3>
            <div class="col-md-1">
                <p>Authorise</p>
            </div>
            <div class="col-md-1">
                <p>Deploy</p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h2>FooApi</h2>
       
    </div>
    <div class="col-md-12">
        <h2>BarApi</h2>
       
    </div>
    
</div>
